.encabezado1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 660px;
    width: 100%;
}
.container-img {
    height: 100%;
    margin: 0;
    width: 50%;
}

.container-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container-logo {
    position: absolute;
    width: 15%;
    margin-top: 2.5rem;
    margin-left: 1%;
}

.logo {
    width: 15%;
}

.container-encabezado {
    background: #040404;
    color:  #f3f3f3;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    height: 100%;
}

.icono-menu {
    display: flex;
    justify-content:flex-end;
    font-size: 35px;
    padding: 15px;
}

.texto {
    padding: 0 10%;
    padding-bottom: 14%;
    text-align: end;
    font-size: 28px;
    padding-top: 28%;
    
}

.subtexto {
    font-size: 15px;
}

.desplegable {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 0;
    width: 80%;
}

.menu {
    width: 2.5rem;
    height: 2rem;
    position: absolute;
    top: 0.2%;
    right: 3%;
    font-family: sans-serif;
    margin-top: 2%;
    padding:3px 9px 7px 3px;
    border-radius: 32%;
    font-size: 38px;
    color: #710A13;
    text-align: end;
    transition: right 0.7s;
    justify-content: center;
}

.menu i:hover {
    color: #FFFBFB;
}

label {
    overflow: hidden;
}

.closer {
    font-family: sans-serif;
    font-size: 40px;
    color: #FFFBFB;
    text-align: end;
    margin-right: 8%;
    margin-top:5%;
    position: absolute;
    width: 90%;   
}

.closer i {
    transition: 1s;
}

.closer i:hover {
   transform: rotate(280deg);
   color: #FFFBFB;
}

.checkbox:checked ~.menu {
   right: 10%;
   border-radius: 0 0.5rem;
}
.right-panel {
    position: absolute;
    background: #040404;
    color: #FBFBFB;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    height: 96%;
    right: -50%;
    display:flex;
    transition: right 0.8s;
}

.checkbox:checked ~.right-panel {
    right: 0;
}

.checkbox {
    display: none;
}

li {
    list-style: none;
}

.container ul{
    list-style: none;
}

.times {
    justify-content: flex-end;
    display: flex;
    width: 97%;
    transition: all 0.6s ease;
}

.times i {
    font-size: 45px;
    color: #FBFBFB;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 20px;
    padding-bottom: 0;
    width: 90%;
    background: #040404;   
}

footer p {
    font-size: 14px;
    margin:2px;
    height: auto;
}

ul.secciones {
    font-size: 20px;
    padding-bottom: 100px;
    padding-top: 10%;
    margin-right: 20%;
    width: 70%;
}

.texto-footer {
    border-left: 1px solid #FBFBFB;
    color: #FBFBFB;
}

footer ul li {
    font-size: 45px;
    padding-right: 14px; 
}


.secciones li {
    margin-top: 16px;
    padding-left: 70px;
    padding-bottom: 16px;
}

.secciones a {
    text-decoration: none;
    color: #FBFBFB;
}

.secciones a li {
    transition: 0.6s;
}

.secciones a li:hover {
    transform: scale(1.1);
    color: #FFFBFB;
}

.iconos-footer {
    height: 55px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: start;
    padding: 0;
    margin-bottom: 30px;
    padding-bottom: 30px; 
}

.iconos-footer a {
    color: #FBFBFB;
    text-decoration: none;
}

.icono-texto {
    margin-left: 60px;
    padding-bottom: 30px;
    height: auto;
    padding-left: 22px;
}

.jesi{
    width: 25%;
    border-radius: 100%;
    margin-right: 30px;
    height: 62%;
    margin-top: 40px;
    margin-bottom: 2%;
    object-fit: cover;
}

.instagram:hover i{
    color: #710A13;
}

.linkedin:hover i{
    color: #710A13;
}

.github:hover i{
    color: #710A13;
}

h2 {
    margin: 8%;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: #5E5D61;
}

.presentacion {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 3%;
    padding-top: 4%;
}


.texto-secundario p {
    font-size: 19px;
}


.container-presentacion-left {
    display: flex;
    flex-flow: row wrap;
    border-right: 2px solid #140678;
    width: 100%;
    margin-bottom: 10%;
}

.container-presentacion-left .texto-secundario {
    width: 30%;
    padding-top: 3%;
    padding-left: 85px;
    text-align: end;
}

.container-left {
    width: 55%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 #3d3b3b;
}

.container-left img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.9s;
    height: 100%;
}


.container-left:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.container-presentacion-right {
    display: flex;
    flex-flow: row wrap;
    border-left: 3px solid #140678;
    width: 100%;
    margin-bottom: 10%;
}

.container-presentacion-right .texto-secundario {
    width: 30%;
    padding-right: 9%;
    padding-top: 3%;
    text-align: start;
    padding-left: 4%;
}

.container-right {
    width: 55%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px 0 #3d3b3b;
}

.container-right img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-transition: all 1.5s;
    -webkit-transition: all 1.5s;
    transition: all 1.9s;
    height: 100%;
}

.container-right:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}